<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greg.qrdb">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/about_menu_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CreateNewQrCodeActivity"
            android:label="@string/create_qr_code_menu_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ScanActivity"
            android:label="@string/scan_qr_code_menu_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ScannedQrCodesActivity"
            android:label="@string/scanned_qr_codes_menu_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_menu_item"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".MyQrCodesActivity"
            android:label="@string/my_qr_codes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.greg.qrdb"
            android:name="com.greg.data.QrdbContentProvider" />
    </application>

</manifest>